.playersContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 3px 25px;
    border-radius: 5px;
    align-items: center;
}

.playerName{
    font-size: 1rem;
    font-weight: 400;
}

.deletePlayerButton{
    background-color: rgba(135, 135, 135, 0.45);
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.deletePlayerIcon{
    color: rgb(255, 99, 99);
    font-size: 1rem;
}